@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    font-family: Arial, sans-serif;
}
body{
    background-image: url(./imges/background.png);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Dancing Script', cursive;
    color:#C55394 ;
}
#logo{
    color: #FFF;
    padding-left: 20px;
    font-size: 30px;
    font-weight: bold;
}
/* barre de menus : #C55394
	hover menu : #EB43A3
    titre h1 : #C55394
    autres titres : #EB43A3
	footer : #E577B5
	noir : #333
	blanc : #FFF */

    .navbar{
        background-color:#C55394;
        display: flex;
        justify-content: space-between;
        margin: 0;
        font-size: 10px;
    }

    .navbar ul{
        list-style:none;
        display: flex;
        flex-direction: row;
        flex-wrap: 2;
        color:#FFF ;  
        padding-top: 5px;
        padding-right: 15px;
     
    }
    .navbar ul a {
        text-decoration: none;
        color:#FFF ;
        padding:10px;
        font-size:20px;
    
    }

    .navbar a:hover{
        background-color:#EB43A3;
    }
    .navbar a:active{
        text-transform: none;
    }
    /* main */

.rainbow{
 display: flex;
 justify-content: center;
 position: relative;

}
.position{
    position: absolute;
    top:30%
}
.container{
    display: flex;
    flex-direction: column;
  
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #FFF;
    border-radius: 20px;
    padding: 25px;
    box-shadow: 3px 3px 5px 3px;
    height: inherit;
    width: auto;
    margin-bottom: 20px;
}
#title{
    padding: 10px;
}
.fa-solid {
   background-color: #FFF;
  
}
.cartes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    flex-wrap: 2;
    margin-bottom: 100px;
} 
.space{
    padding: 10px;
   position: relative;
  
}
.img{
    width: 200px;
    height: 200px;
}
.bg{
    color: #FFF;
    background-color: #333 ; 
    opacity: 0,1;
    /* mettre oppacité */
    text-align:center;
    position: absolute;
    top: 76%;
    padding: 10px;
    left: 4%;
    width: 91%
 
}
.text-left{
text-align:left;
}
.contact{
    display: flex;
    flex-direction: row;
}
.newsletter{
    margin-left: 20px;
}
/* .form-group{
  
} */
.btn{
    background:#EB43A3 ;
    color: #FFF;
    margin-top: 10px;
}
.input{
   
    color: lightgrey;
}
#margin{
    width: 100%;
}
footer{
    background-color: #E577B5;
    color: #FFF;
    padding: 20px;
    text-align: right;
    width: 100%;
 
}
/* responsive */

/* mobile */
@media screen and (max-width: 395px)
{
    .navbar{
        background-color:#C55394;
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        justify-content: space-between;
        width: auto;
        height: auto;
       
    }
.container{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.newsletter{
    margin-left: 60px;
}
footer{
    text-align: center;
}
}
/* tablette */
@media screen and (max-width: 695px)
{
    .navbar{
        background-color:#C55394;
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        font-size: 10px;
       width: auto;
       height: auto;
       margin-left: -70px;
       margin-right: -150px;
    }
body{
  margin-left: 100px; 
   
}
.container{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.iframe{
    width: 20%;
    
}
.newsletter{
    margin-left: 60px;
}
}
/* pablette paysage */
@media screen and (max-width: 995px)
{
    .navbar{
        background-color:#C55394;
        display: flex;
        flex-direction: column;
        flex-wrap:wrap;
        width: auto;
        margin-left: -100px;
    }
body{
  margin-left: 100px; 
   
}
.container{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cartes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.iframe{
    width: 20%;
    
}
.newsletter{
    margin-left: 60px;
}
}
